* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 90%;
    margin: auto;
}

.big-img {
    height: 45vmax;
    
}
.mini-img {
    display: flex;
    position: absolute;
    gap: 5px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.thumbnail img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 30px 10px -10px;
    cursor: pointer;
    transition: 1s;
    
}
.thumbnail:hover img{
    box-shadow: 0px 50px 10px -10px rgba(0,0,0,0.5);
    border: 2px solid red;
    animation: hover 1s alternate forwards;
    
    
}
@keyframes hover {
    to {
        margin-top: -50px;
    }
}
@keyframes fade {
    to {
        opacity: 1;
    }
}
.fade {
    opacity: 0;
    animation: fade 0.5s forwards;
}