* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    margin: 30px auto;
    width: 800px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
body {
    text-align: center;
}
#comp {
    width: 100%;
    height: 300px;
    background-color: aqua;
    text-transform: uppercase;
    color: red;
}
#player {
    width: 100%;
    
    background-color: blueviolet;
}
.results {
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#comp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
img {
    border: 3px solid black;
    border-radius: 50%;
}
#player {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}